/* img {
    width: 100%;
} */

/* 
#apresentacao-aula {
    font-size: 26px;
} */

.spinner {
    animation: spin 1s infinite linear;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.hide-container {
    display: none;
}

.show-container {
    display: block;
}




.html5-video-container {
    margin-top: -600px;
}


#contianer-icons {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin: 40px auto;
    background-color: white;
}

#contianer-icons img {
    /* margin-bottom: 30px; */
    margin-top: 30px;
}

.containerTexto {
    display: none;
}

.containerImagemItem {
    display: none;
}

.containerVideo {
    display: none;
}

.containerCronometro {
    display: none;
}

.containerMetronomo {
    display: none;
}

/* .containerAudio {
    display: none;
}
 */
.containerFlashCard {
    display: none;
}

.containerVideoLocalItem {
    display: none;
}

#apresentacao-aula {
    font-size: 160px;
    font-weight: 600;
    text-align: center;
    word-wrap: break-word;
}


#apresentacao-aula img {
    width: 100%;
    margin: 0;
}

#apresentacao-aula p {
    text-indent: 30px;
    /* padding-top: 400px; */
}

.style-button {
    display: block;
    margin: 10px;
}

.style-button a {
    text-decoration: none;
    color: black;
    padding: 20px 30px;
}