/* .main-table-chamada {
    margin: 20px;
} */

.main-table-chamada td {
    /* padding: 3px 10px; */
    text-align: center;
    /* display: flex; */
    /* width: 30%; */
}

.item-part {
    display: flex;
    text-align: center;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

/* .main-table-chamada div {
    text-align: center;
    margin: auto;
} */

.larger-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    cursor: pointer;
}

.checked {
    background: url('../icons/icon-check-chamda.png') no-repeat center;
    background-size: 100%;
}

/* #lista-de-PDFS ul li {
    margin-left: 30px;
    margin-top: 3px;
} */

#lista-de-PDFS ul li a {
    /* text-decoration: none; */
    color: black;
}