#NavigationForClass button {
    border: 1px solid rgba(29, 29, 29, 0.353);
    background-color: red;
    color: black;
    font-weight: 800;
    border-radius: 3px;
}

#NavigationForClass {
    margin-left: 10px;
}

.mariorr {
    padding-bottom: 40px !important;
}